<!-- List of Text Items -->
<ion-list>
    <div *ngFor="let producto of productos">
        <ion-item>
            <ion-label>
                {{producto.nombre}}
            </ion-label>
            <ion-label>
                $ {{producto.precio}}
            </ion-label>
            <ion-button color="success">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="warning">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </div>
</ion-list>

<ion-list>
    <ion-item>
        <ion-select placeholder="Cantidad de cuotas">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
        </ion-select>
    </ion-item>
</ion-list>

<ion-item>
    <ion-label>Total compra</ion-label>
    <ion-input>{{total}}</ion-input>
</ion-item>

<ion-button expand="block" click="calcular()" *ngIf="habilitarCalcular">Calcular</ion-button>

<!-- =============== BOTON FLOTANTE '+' ===================== -->
<ion-fab vertical="center" horizontal="end" slot="fixed" id="open-modal" expand="block">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>


<!-- =============== MODAL ===================== -->
<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancelar</ion-button>
                </ion-buttons>
                <ion-title>Producto</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <ion-item>
                <ion-label position="stacked">Ingrese el producto</ion-label>
                <ion-input type="text" placeholder="Producto..." [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Ingrese el precio</ion-label>
                <ion-input type="text" placeholder="Precio..." [(ngModel)]="precio"></ion-input>
            </ion-item>
        </ion-content>
    </ng-template>
</ion-modal>