<ion-header>
    <ion-toolbar>
        <ion-title>Configuracion inicial</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-thumbnail slot="start">
        <ion-img src="../../assets/icon/favicon.png"></ion-img>
    </ion-thumbnail>

    <ion-content>
        Bienvenido a "Calcu-Card" Para empezar, ingrese la cantidad de cuotas que se cobrará sin interes :

        <ion-list (ionChange)="seCambio($event)">
            <ion-item>
                <ion-select [(ngModel)]="cuotas" placeholder="Cantidad de cuotas" (click)="chequear()">
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5</ion-select-option>
                    <ion-select-option value="6">6</ion-select-option>
                    <ion-select-option value="7">7</ion-select-option>
                    <ion-select-option value="8">8</ion-select-option>
                    <ion-select-option value="9">9</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <!-- <ion-button (click)="presentAlert()">Seleccionar...</ion-button> -->
    </ion-content>

    <ion-button size="large" (click)="continuar()" [disabled]="!habilitarContinuar">
        Continuar
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>

</ion-content>