<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Configuraciones</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label position="stacked">Ingrese hasta que valor seran cuotas sin interes : </ion-label>
    <ion-list (ionChange)="modificarCantCuotas($event)">
        <ion-item>
            <ion-select placeholder="Cantidad de cuotas" [(ngModel)]="cantCuotasStorage">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
                <ion-select-option value="7">7</ion-select-option>
                <ion-select-option value="8">8</ion-select-option>
                <ion-select-option value="9">9</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>